
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.faq_header{
    align-items: center;
      padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    min-width: 320px;
    font-size: 16px;
    line-height: 1.7;
    font-family: "lato", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: index 1;
    flex-basis: 100%;
    flex-shrink: 0;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: #1c1d1e;
    
}
    

.faq__title_text{
  width: 162px;
    margin: auto;
    color: blue;
    font-size: 34px;
    font-family: Fjalla One, sans-serif;
    }

    .faq_discription_text{
      width: 488px;
    margin: auto;
    color: black;
    font-size: 18px;
    font-family: Lato, sans-serif;
    }
    }

    .faq_grid-container_title{
      width: 488px;
    margin: auto;
    color: blue;
    font-size: 24px;
    font-family: Fjalla One, sans-serif;
    }

    .faq_text{
    width: 488px;
    margin: auto;
    color: black;
    font-size: 16px;
    font-family: Lato, sans-serif;
    }
.faq_grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 30px;
}

.faq_grid-container > div {
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: 1/1/1/2 ;
}
.item2 {
  grid-area: 1/2/1/3 ;
}
.item3 {
  grid-area: 1/3/1/4 ;
}
.item4 {
  grid-area: 2/1/2/2 ;
}
.item5 {
  grid-area: 2/2/2/3 ;
}
.item6 {
  grid-area: 2/3/2/4 ;
}

/* flex*/
.faq_flex-container_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.faq_flex-container_wrapper > div{
  margin: 30px;
  text-align: left;
  max-width: 480px; ;
  word-wrap: break-word;
  
}