
  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.faq{
      padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    min-width: 320px;
    font-size: 16px;
    line-height: 1.7;
    font-family: "lato", sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    z-index: index 1;
    flex-basis: 100%;
    flex-shrink: 0;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    color: #fff;
    --background-color: #1c1d1e;
    --bg-gradient-angle: 0deg;
    background-image: -webkit-gradient(linear,left top,left bottom,from(var(--bg-gradient-angle)),to(var(--background-color)));
    background-image: -webkit-linear-gradient(var(--bg-gradient-angle),var(--background-color));
    background-image: linear-gradient(var(--bg-gradient-angle),var(--background-color))
}
    

.faq__title_text{
    display: block;
    
    box-sizing: border-box;
    color:blue;
}

